<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "factuagessa2017"
    versionCode = "12"
    version     = "1.2" >

<!-- versionCode is optional and Android only -->

  <name>Calculatrice AGESSA 2018</name>

  <description>
      Simulation remuneration artistique 2018.
  </description>

  <author href="https://emiliefontaine.com" email="xavier@cuisset.com">
      Xavier CUISSET
  </author>

</widget>
